extends ./layout

block content
    //- slist = JSON.parse(sitylist);
    if  data
        - var formatter = new Intl.DateTimeFormat(["ru"], {hour: "2-digit", minute:"2-digit" })
        - var w = JSON.parse(data);
        #accordion.panel-group(role='tablist', aria-multiselectable='true')
        each item in w.list
            - var hh = new Date(item.dt_txt);

                .panel.panel-primary
                    #heading1.panel-heading(role='tab')
                        h4.panel-title
                            a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse1', aria-expanded='true', aria-controls='collapse1')
                                | по часам #{formatter.format(hh)} - #{item.main.temp} &#8451;
                    #collapse1.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='heading1')
                        .panel-body
                            p давление #{item.main.pressure} мм
                            p влажность #{item.main.humidity} %
                            p влажность #{item.weather[0].description} небо
                            p ветер #{item.wind.speed} м/с





    if sitylist
        p one #{sitylist[0].trname}
        - var str = JSON.stringify(sitylist);
        p #{str}
        p ok list

    if sity
        p This id #{sity}
    else
        p not corrected